<?xml version="1.0"?>
<configuration>
	<!--<authentication mode="Windows"/>
  <identity impersonate="true"/>-->
	<configSections>
	</configSections>
	<system.web>
		<compilation targetFramework="4.0">
		</compilation>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" /></system.web>
	<system.serviceModel>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
		<services>
			<service name="RTSMSWebService.WebService">
				<endpoint address="" behaviorConfiguration="RTSMSWebService.WebServiceBehavior" binding="webHttpBinding" contract="RTSMSWebService.IWebService">
				</endpoint>
			</service>
		</services>
		<behaviors>
			<endpointBehaviors>
				<behavior name="RTSMSWebService.WebServiceBehavior">
					<webHttp helpEnabled="true" defaultOutgoingResponseFormat="Json" />
				</behavior>
			</endpointBehaviors>
		</behaviors>
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
		</modules>
	</system.webServer>
	<connectionStrings>
  <remove name="LocalSqlServer" />
  <add name="LocalSqlServer" connectionString="Data Source=MUZAMMILPEER-LT\SQLEXPRESSR2;Initial Catalog=rtsms_db;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="RTSMSWebService.Properties.Settings.RTSMSdbConnectionString"
   connectionString="workstation id=rtsmsdb.mssql.somee.com;packet size=4096;user id=muzammil;pwd=pa5is8an;data source=rtsmsdb.mssql.somee.com;persist security info=False;initial catalog=rtsmsdb" />
 </connectionStrings>
</configuration>
